.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 3rem;
    width: 100%;
    border-bottom: 1px solid #c9c4c4;
    padding-bottom: 1rem;
}
