.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 10rem;
    background-color: #fff;
    border-bottom: 1px solid #c9c4c4;
}

