@import '../../styles/variables';
.footerContainer {
    display: flex;
    justify-content: space-around;
}

.footerItem {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    a {
        color: $color-grey-light-1;
    }
}

.socialIcon {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
}
