@import '/src/styles/variables';

.collectionParagraph {
    margin: 4rem 0;
    padding: 1rem;
    font-size: $paragraphDefault;
}

.collectionContainer {
    display: flex;
    justify-content: space-between;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 1.5rem;
}
