.avButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -0.5rem;

    background-color: #968b8b;
}
