* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  max-width: 100vw;
  min-height: 100vh;
  text-align: center;
}

a {
  text-decoration: none;
}
