.productContainer {
    display: flex;
    align-items: center;
}

.productImage {
    width: 20rem;
    padding: 3rem;
}

.productDetails {
    padding-left: 3rem;
    margin-right: 3rem;
}

.productTitle {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
}

.productDescription {
    margin: 0 0 1rem 0;
    padding: 2rem;
    font-size: 1.5rem;
}

.productPrice {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.productButton {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #ff8400;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
