@import '/src/styles/variables';

.productContainer {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    justify-content: space-around;
}

.imageContainer {
}

.productImage {
    width: 25rem;
    height: 25rem;
}

.productDetails {
    flex-basis: 40%;
    margin-right: 3rem;
}

.productTitle {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
}

.productDescription {
    margin: 0 0 1rem 0;
    padding: 2rem;
    font-size: 1.5rem;
}

.productPrice {
    margin: 0 0 1rem 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.productButton {
    padding: 0.8rem 1rem;
    font-size: 1.4rem;
    background-color: $tertiary;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

    &:active {
        transform: scale(0.95);
        transition: transform 0.2s;
    }
}

.cartControls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
