@import '../../styles/variables';

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: #eee8e8;

    margin-bottom: 0;
    width: 100%;
}

.footerItem {
    display: inline-block;
    list-style: none;
    font-size: 1.4rem;
    margin: 2rem 1rem;
    font-weight: 600;

    a {
        color: $color-grey-light-1;
    }
}

.socialIcon {
    padding: 1rem;
    justify-content: space-around;

    svg {
        margin: 1rem;
    }
}

.contacts {
    display: flex;
    justify-content: space-around;
}
