@import '../../styles/variables';

.navContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
}

.navItem {
    display: inline-block;
    list-style: none;
    margin-right: 1.5rem;
    font-size: 1.4rem;
    font-weight: 600;

    a {
        color: $color-grey-light-1;
    }
}
