.navContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    

    width: 60%;
    height: 100%;
    background-color: #fff;
}

.navItem {
    display: inline-block;
    list-style: none;
    margin-right: 1.5rem;
    font-size: 1.4rem;
    font-weight: bold;

   a {
     color: #858079;
    }
}

