.navContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 60%;
    height: 100%;
}

.navContainer ul > :first-child {
    margin-right: 4rem;
    font-size: 1.8rem;
}

.navItem {
    display: inline-block;
    list-style: none;
    margin-right: 1.5rem;
    font-size: 1.4rem;
    font-weight: 600;

    a {
        color: #858079;
    }
}
